* {
    padding: 0;
    margin: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    user-select: none;
    font-family: Helvetica Arial;
    color: #2e2e2e;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wallpaper-enter-active,
.wallpaper-leave-active {
    transition: opacity 1s;
}

.wallpaper-enter,
.wallpaper-leave-to {
    opacity: 0;
}

.container {
    position: fixed;
    top: 0;
    right: 20px;
    width: 500px;
    height: 100%;
    overflow: visible;
}

.container>div {
    background: #fefefe;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #1e1e1e;
    margin-top: 20px;
}

/* 时间 */
.time {
    font-size: 96px;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
}

.time .delimiter {
    padding: 0px 10px;
    vertical-align: 10px;
}

/* 日期 */
.date {
    overflow: auto;
    padding: 35px 50px;
}

.date-left {
    float: left;
}

.date-left .title {
    text-align: center;
    font-size: 25px;
}

.date-left .title .year {
    display: inline-block;
    width: 66px;
    text-align: center;
}

.date-left .title .month {
    display: inline-block;
    width: 34px;
    text-align: center;
}

.date-left .content {
    text-align: center;
    font-size: 65px;
    padding: 5px;
    font-weight: bold;
}

.date-left .footer {
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
}

.date-right {
    float: left;
    margin-left: 50px;
    font-size: 20px;
}

.date-right .title {
    font-size: 25px;
    margin-bottom: 15px;
}

.date-right .content {
    margin-top: 4px;
}

.bold {
    font-weight: bold;
    height: 26px;
}

.tips {
    font-size: 20px;
    padding: 35px 50px;
}

.tips .close-button {
    float: right;
    margin-top: 6px;
    border: 0;
    background: #fefefe;
    outline: none;
}

.tips .item {
    margin-bottom: 5px;
    list-style: none;
}

.tips .item:last-child {
    margin-bottom: 0;
}

.tips .item .ring {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: 2px;
    background: #41b883;
}